.card:hover{
    transform: translateY(0%);
}


.watch-page .watch-icons{
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.watch-icons i:hover,.watch-icons span:hover{
    cursor: pointer;
}

.watch-page #more{
    display: none;
}